In [80]:
import pyspark
from pyspark.sql import SparkSession

In [28]:
pyspark.__version__

'3.3.2'

In [29]:
pyspark.__file__

'/home/cat53/spark/spark-3.3.2-bin-hadoop3/python/pyspark/__init__.py'

In [30]:
from pyspark.sql import SparkSession

master -> coordinates jobs of a spark cluster and 
local[<number_of_cpus>] -> it will create a local cluster 
* ->  use all available cpus
appName('test')  ->  the name of the app will be test
getOrCreate() ->

In [31]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [32]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-03-03 14:49:12--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 16.182.106.16, 52.217.172.168, 54.231.129.104, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|16.182.106.16|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv.2’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2024-03-03 14:49:12 (103 MB/s) - ‘taxi+_zone_lookup.csv.2’ saved [12322/12322]

In [7]:
!head taxi+_zone_lookup.csv

"LocationID","Borough","Zone","service_zone"
1,"EWR","Newark Airport","EWR"
2,"Queens","Jamaica Bay","Boro Zone"
3,"Bronx","Allerton/Pelham Gardens","Boro Zone"
4,"Manhattan","Alphabet City","Yellow Zone"
5,"Staten Island","Arden Heights","Boro Zone"
6,"Staten Island","Arrochar/Fort Wadsworth","Boro Zone"
7,"Queens","Astoria","Boro Zone"
8,"Queens","Astoria Park","Boro Zone"
9,"Queens","Auburndale","Boro Zone"

In [129]:
df_zones = spark.read \
    .option("header", "true") \
    .csv('taxi+_zone_lookup.csv')

In [130]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [132]:
df_zones.write.parquet("zones")

In [12]:
!ls -lh

total 19M
-rw-rw-r-- 1 cat53 cat53  19M Dec  2  2022 fhv_tripdata_2019-10.csv.gz
-rw-rw-r-- 1 cat53 cat53 318K Mar  2 22:45 head.csv
-rw-rw-r-- 1 cat53 cat53  22K Mar  2 22:57 learning.ipynb
-rw-rw-r-- 1 cat53 cat53  13K Aug 17  2016 taxi+_zone_lookup.csv
-rw-rw-r-- 1 cat53 cat53  13K Aug 17  2016 taxi+_zone_lookup.csv.1
drwxr-xr-x 2 cat53 cat53 4.0K Mar  2 21:58 zones

In [34]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz

--2024-03-03 14:49:41--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 192.30.255.113
Connecting to github.com (github.com)|192.30.255.113|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240303%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240303T144941Z&X-Amz-Expires=300&X-Amz-Signature=995880f44822adab42580963bd1d9fedef61c460994fca6c24c534bb894f4780&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-03-03 14:49:41--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240303%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240303T144941Z&X-Amz-Expires=300&X-Amz-Signature=995880f44822adab42580963bd1d9fedef61c460994fca6c24c534bb894f4780&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19375751 (18M) [application/octet-stream]
Saving to: ‘fhv_tripdata_2019-10.csv.gz.2’

fhv_tripdata_2019-1 100%[===================>]  18.48M  --.-KB/s    in 0.1s

2024-03-03 14:49:42 (162 MB/s) - ‘fhv_tripdata_2019-10.csv.gz.2’ saved [19375751/19375751]

In [35]:
!wc -l fhv_tripdata_2019-10.csv.gz

62958 fhv_tripdata_2019-10.csv.gz

In [36]:
df = spark.read \
    .option("header", "true") \
    .csv('fhv_tripdata_2019-10.csv.gz')

In [17]:
df.schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropOff_datetime', StringType(), True), StructField('PUlocationID', StringType(), True), StructField('DOlocationID', StringType(), True), StructField('SR_Flag', StringType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [39]:
from pyspark.sql import types

In [47]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True), 
    types.StructField('dropOff_datetime', types.TimestampType(), True), 
    types.StructField('PUlocationID', types.IntegerType(), True), 
    types.StructField('DOlocationID', types.IntegerType(), True), 
    types.StructField('SR_Flag', types.StringType(), True), 
    types.StructField('Affiliated_base_number', types.StringType(), True)
])

In [72]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhv_tripdata_2019-10.csv.gz')

In [53]:
df.show()
df.head()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|         264|         264|   null|                B00009|
|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|         264|         264|   null|                B00013|
|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|         264|         264|   null|                B00014|
|              B00014|2019-10-01 00:56:29|2019-10-01 00:57:47|         264|         264|   null|                B00014|
|              B00014|2019-10-01 00:23:09|2019-10-01 00:28:27|         264|         264|   null|                B00014|
|     B00021         |2019-10-01 00:00:48|2019-10-01 00:07:12|         129|         129|   null|       B00021         |
|     B00021         |2019-10-01 00:47:23|2019-10-01 00:53:25|          57|          57|   null|       B00021         |
|     B00021         |2019-10-01 00:10:06|2019-10-01 00:19:50|         173|         173|   null|       B00021         |
|     B00021         |2019-10-01 00:51:37|2019-10-01 01:06:14|         226|         226|   null|       B00021         |
|     B00021         |2019-10-01 00:28:23|2019-10-01 00:34:33|          56|          56|   null|       B00021         |
|     B00021         |2019-10-01 00:31:17|2019-10-01 00:51:52|          82|          82|   null|       B00021         |
|              B00037|2019-10-01 00:07:41|2019-10-01 00:15:23|         264|          71|   null|                B00037|
|              B00037|2019-10-01 00:13:38|2019-10-01 00:25:51|         264|          39|   null|                B00037|
|              B00037|2019-10-01 00:42:40|2019-10-01 00:53:47|         264|         188|   null|                B00037|
|              B00037|2019-10-01 00:58:46|2019-10-01 01:10:11|         264|          91|   null|                B00037|
|              B00037|2019-10-01 00:09:49|2019-10-01 00:14:37|         264|          71|   null|                B00037|
|              B00037|2019-10-01 00:22:35|2019-10-01 00:36:53|         264|          35|   null|                B00037|
|              B00037|2019-10-01 00:54:27|2019-10-01 01:03:37|         264|          61|   null|                B00037|
|              B00037|2019-10-01 00:08:12|2019-10-01 00:28:47|         264|         198|   null|                B00037|
|              B00053|2019-10-01 00:05:24|2019-10-01 00:53:03|         264|         264|   null|                  #N/A|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

Row(dispatching_base_num='B00009', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 23), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 35), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00009')

### Question 2

In [73]:
df = df.repartition(6)

In [74]:
df.write.parquet("fhv/2019/10")

AnalysisException: path file:/home/cat53/notebooks/fhv/2019/10 already exists.

In [139]:
df = spark.read.parquet("fhv/2019/10")

In [60]:
df

DataFrame[dispatching_base_num: string, pickup_datetime: timestamp, dropOff_datetime: timestamp, PUlocationID: int, DOlocationID: int, SR_Flag: string, Affiliated_base_number: string]

In [91]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02784|2019-10-01 09:55:38|2019-10-01 10:05:43|          89|          85|   null|                  null|
|              B02429|2019-10-21 04:15:47|2019-10-21 04:36:04|         264|         264|   null|                B02429|
|              B01482|2019-10-19 12:00:00|2019-10-19 12:20:00|         264|         264|   null|                B01482|
|              B03015|2019-10-11 14:28:00|2019-10-11 14:32:44|         264|         216|   null|                B03015|
|              B01529|2019-10-21 18:00:26|2019-10-21 18:07:21|         264|          80|   null|                B01529|
|              B00477|2019-10-03 19:30:35|2019-10-03 20:27:57|         161|          14|   null|                B00477|
|              B00937|2019-10-25 06:10:40|2019-10-25 06:29:43|         264|         208|   null|                B00937|
|     B00889         |2019-10-30 06:18:02|2019-10-30 06:35:12|         260|         260|   null|       B00889         |
|              B01239|2019-10-09 03:39:16|2019-10-09 03:42:07|         264|         254|   null|                B00882|
|              B00256|2019-10-27 11:54:37|2019-10-27 12:28:18|         264|         264|   null|                B00256|
|              B01087|2019-10-14 18:41:24|2019-10-14 19:02:06|         261|         186|   null|                B01087|
|              B02846|2019-10-19 11:42:45|2019-10-19 12:42:42|         264|          23|   null|                B02846|
|              B02546|2019-10-17 15:20:32|2019-10-17 15:25:51|         264|         167|   null|                B02546|
|              B02803|2019-10-21 05:00:47|2019-10-21 05:03:44|          47|         169|   null|                B02803|
|              B01644|2019-10-14 11:34:00|2019-10-14 13:12:00|         264|         264|   null|                B01644|
|              B01454|2019-10-13 07:08:41|2019-10-13 07:13:43|         264|         188|   null|                B01454|
|              B01239|2019-10-24 06:05:22|2019-10-24 06:15:03|         264|         174|   null|                B00882|
|              B01751|2019-10-20 09:49:18|2019-10-20 10:40:59|         264|         264|   null|                B01751|
|              B00887|2019-10-06 17:17:28|2019-10-06 18:12:14|         264|         132|   null|                B00887|
|              B01362|2019-10-07 11:25:57|2019-10-07 11:39:15|         264|         185|   null|                B01362|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [63]:
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropOff_datetime: timestamp (nullable = true)
 |-- PUlocationID: integer (nullable = true)
 |-- DOlocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [68]:
df.select("dispatching_base_num", "pickup_datetime", "dropOff_datetime", "PUlocationID", "DOlocationID") \
    .filter(df.dispatching_base_num == "B01239") \
    .show()

+--------------------+-------------------+-------------------+------------+------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|
+--------------------+-------------------+-------------------+------------+------------+
|              B01239|2019-10-09 03:39:16|2019-10-09 03:42:07|         264|         254|
|              B01239|2019-10-24 06:05:22|2019-10-24 06:15:03|         264|         174|
|              B01239|2019-10-25 16:20:47|2019-10-25 16:37:37|         264|         254|
|              B01239|2019-10-09 11:23:04|2019-10-09 11:37:59|         264|          20|
|              B01239|2019-10-09 09:08:22|2019-10-09 09:36:41|         264|         247|
|              B01239|2019-10-31 16:29:19|2019-10-31 16:55:44|         264|          69|
|              B01239|2019-10-03 14:56:16|2019-10-03 15:04:19|         264|         254|
|              B01239|2019-10-14 12:20:24|2019-10-14 12:39:31|         264|          94|
|              B01239|2019-10-23 14:39:57|2019-10-23 14:48:05|         264|          51|
|              B01239|2019-10-16 16:12:34|2019-10-16 16:19:35|         264|         259|
|              B01239|2019-10-30 08:48:47|2019-10-30 09:17:12|         264|         242|
|              B01239|2019-10-06 18:36:28|2019-10-06 18:39:36|         264|         254|
|              B01239|2019-10-30 18:02:42|2019-10-30 18:06:39|         264|         254|
|              B01239|2019-10-20 22:45:34|2019-10-20 22:58:57|         264|         248|
|              B01239|2019-10-29 18:17:23|2019-10-29 19:08:28|         264|         128|
|              B01239|2019-10-29 22:50:36|2019-10-29 23:08:14|         264|          18|
|              B01239|2019-10-05 00:52:59|2019-10-05 01:05:01|         264|         259|
|              B01239|2019-10-25 20:54:16|2019-10-25 21:09:51|         264|         182|
|              B01239|2019-10-17 11:02:28|2019-10-17 11:18:54|         264|         242|
|              B01239|2019-10-08 16:20:10|2019-10-08 16:27:43|         264|         254|
+--------------------+-------------------+-------------------+------------+------------+
only showing top 20 rows

# Spark Functions

In [92]:
from pyspark.sql import functions as F

In [104]:
df \
    .withColumn("pickup_date", F.to_date(df.pickup_datetime)) \
    .withColumn("dropOff_date", F.to_date(df.dropOff_datetime)) \
    .select("dispatching_base_num", "pickup_date", "dropOff_date", "PUlocationID", "DOlocationID") \
    .show()

+--------------------+-----------+------------+------------+------------+
|dispatching_base_num|pickup_date|dropOff_date|PUlocationID|DOlocationID|
+--------------------+-----------+------------+------------+------------+
|              B02784| 2019-10-01|  2019-10-01|          89|          85|
|              B02429| 2019-10-21|  2019-10-21|         264|         264|
|              B01482| 2019-10-19|  2019-10-19|         264|         264|
|              B03015| 2019-10-11|  2019-10-11|         264|         216|
|              B01529| 2019-10-21|  2019-10-21|         264|          80|
|              B00477| 2019-10-03|  2019-10-03|         161|          14|
|              B00937| 2019-10-25|  2019-10-25|         264|         208|
|     B00889         | 2019-10-30|  2019-10-30|         260|         260|
|              B01239| 2019-10-09|  2019-10-09|         264|         254|
|              B00256| 2019-10-27|  2019-10-27|         264|         264|
|              B01087| 2019-10-14|  2019-10-14|         261|         186|
|              B02846| 2019-10-19|  2019-10-19|         264|          23|
|              B02546| 2019-10-17|  2019-10-17|         264|         167|
|              B02803| 2019-10-21|  2019-10-21|          47|         169|
|              B01644| 2019-10-14|  2019-10-14|         264|         264|
|              B01454| 2019-10-13|  2019-10-13|         264|         188|
|              B01239| 2019-10-24|  2019-10-24|         264|         174|
|              B01751| 2019-10-20|  2019-10-20|         264|         264|
|              B00887| 2019-10-06|  2019-10-06|         264|         132|
|              B01362| 2019-10-07|  2019-10-07|         264|         185|
+--------------------+-----------+------------+------------+------------+
only showing top 20 rows

### Question 3

In [107]:
df_dates = df.withColumn("pickup_date", F.to_date(df.pickup_datetime))

In [111]:
df_dates \
    .filter(df_dates.pickup_date == "2019-10-15") \
    .count()

62610

### Question 4

In [112]:
df.registerTempTable("trip_duration")

/home/cat53/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [ ]:
--SELECT (dropOff_datetime - pickup_datetime) AS duration, dropOff_datetime, pickup_datetime, 
-- EXTRACT(days,duration)*24 + EXTRACT(hours,duration) + EXTRACT(minutes,duration) / 60

In [128]:
spark.sql("""

    SELECT (unix_timestamp(dropOff_datetime ) - unix_timestamp(pickup_datetime)) / 60 / 60 as duration_in_hours
    FROM trip_duration
    ORDER BY duration_in_hours DESC
    LIMIT 1;
""").show()

+-----------------+
|duration_in_hours|
+-----------------+
|         631152.5|
+-----------------+

### Question 6

In [140]:
# LEAST frequent pickup loca
df_least_freq = df.join(df_zones, df.PUlocationID == df_zones.LocationID)
df_least_freq.show()
df_least_freq.registerTempTable("PUlocation")

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+---------+--------------------+------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|LocationID|  Borough|                Zone|service_zone|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+---------+--------------------+------------+
|              B02784|2019-10-01 09:55:38|2019-10-01 10:05:43|          89|          85|   null|                  null|        89| Brooklyn|Flatbush/Ditmas Park|   Boro Zone|
|              B02429|2019-10-21 04:15:47|2019-10-21 04:36:04|         264|         264|   null|                B02429|       264|  Unknown|                  NV|         N/A|
|              B01482|2019-10-19 12:00:00|2019-10-19 12:20:00|         264|         264|   null|                B01482|       264|  Unknown|                  NV|         N/A|
|              B03015|2019-10-11 14:28:00|2019-10-11 14:32:44|         264|         216|   null|                B03015|       264|  Unknown|                  NV|         N/A|
|              B01529|2019-10-21 18:00:26|2019-10-21 18:07:21|         264|          80|   null|                B01529|       264|  Unknown|                  NV|         N/A|
|              B00477|2019-10-03 19:30:35|2019-10-03 20:27:57|         161|          14|   null|                B00477|       161|Manhattan|      Midtown Center| Yellow Zone|
|              B00937|2019-10-25 06:10:40|2019-10-25 06:29:43|         264|         208|   null|                B00937|       264|  Unknown|                  NV|         N/A|
|     B00889         |2019-10-30 06:18:02|2019-10-30 06:35:12|         260|         260|   null|       B00889         |       260|   Queens|            Woodside|   Boro Zone|
|              B01239|2019-10-09 03:39:16|2019-10-09 03:42:07|         264|         254|   null|                B00882|       264|  Unknown|                  NV|         N/A|
|              B00256|2019-10-27 11:54:37|2019-10-27 12:28:18|         264|         264|   null|                B00256|       264|  Unknown|                  NV|         N/A|
|              B01087|2019-10-14 18:41:24|2019-10-14 19:02:06|         261|         186|   null|                B01087|       261|Manhattan|  World Trade Center| Yellow Zone|
|              B02846|2019-10-19 11:42:45|2019-10-19 12:42:42|         264|          23|   null|                B02846|       264|  Unknown|                  NV|         N/A|
|              B02546|2019-10-17 15:20:32|2019-10-17 15:25:51|         264|         167|   null|                B02546|       264|  Unknown|                  NV|         N/A|
|              B02803|2019-10-21 05:00:47|2019-10-21 05:03:44|          47|         169|   null|                B02803|        47|    Bronx|  Claremont/Bathgate|   Boro Zone|
|              B01644|2019-10-14 11:34:00|2019-10-14 13:12:00|         264|         264|   null|                B01644|       264|  Unknown|                  NV|         N/A|
|              B01454|2019-10-13 07:08:41|2019-10-13 07:13:43|         264|         188|   null|                B01454|       264|  Unknown|                  NV|         N/A|
|              B01239|2019-10-24 06:05:22|2019-10-24 06:15:03|         264|         174|   null|                B00882|       264|  Unknown|                  NV|         N/A|
|              B01751|2019-10-20 09:49:18|2019-10-20 10:40:59|         264|         264|   null|                B01751|       264|  Unknown|                  NV|         N/A|
|              B00887|2019-10-06 17:17:28|2019-10-06 18:12:14|         264|         132|   null|                B00887|       264|  Unknown|                  NV|         N/A|
|              B01362|2019-10-07 11:25:57|2019-10-07 11:39:15|         264|         185|   null|                B01362|       264|  Unknown|                  NV|         N/A|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+---------+--------------------+------------+
only showing top 20 rows

In [145]:
spark.sql("""
    SELECT Zone,count(*)
    FROM PUlocation
    GROUP BY Zone
    ORDER BY count(*)
    LIMIT 5;
""").show()

+--------------------+--------+
|                Zone|count(1)|
+--------------------+--------+
|         Jamaica Bay|       1|
|Governor's Island...|       2|
| Green-Wood Cemetery|       5|
|       Broad Channel|       8|
|     Highbridge Park|      14|
+--------------------+--------+